
/* DropZone */

 .modal .dropzone {
  /* height: 80%; */
  height: 350px;
  color: #ccc;
  border: 3px dashed #ccc;
  text-align: center;
  justify-content: center;
}

.modal .dropzone.highlight {
  background-color: #3498db;
}

.modal .dropzone div:first-child {
  display: none;
}

.modal .dropzone.highlight div:first-child {
  display: block;
  color: white;
}

.modal .dropzone.highlight div:last-child {
  display: none;
}

.modal .fileicon {
    font-size: 74px;
}

.modal .fileicon.selectedimage {
    font-size: 100px;
    padding: 15px;
    text-align: center;
}

.imagebox.selected .close-icon, .filemanagerimagebox.selected .close-icon  {
  display: none;
}

.selected .file-man-box {
  /* background-color: #f9c7c8 !important; */
  border: solid green 4px !important;
  /* z-index: 1 !important; */
}

.choosed-image .file-man-box {
  border: solid #009fff 5px !important;
  /* z-index: 1 !important; */
}

.choosed-image .file-man-box .file-close {
  color: #009fff;
  position: absolute;
  line-height: 24px;
  font-size: 24px;
  right: 3px;
  top: 0;
  visibility: visible;
}

.file-man-box .file-close {
  visibility: hidden;
}

#image {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}


.preview .file-close {
  color: #e11937;
  position: absolute;
  line-height: 24px;
  font-size: 24px;
  right: 10px;
  top: 10px;
  visibility: hidden
}

/* .preview .file-close {
  visibility: hidden;
} */

.preview .imagebox:hover .file-close, .preview .filemanagerimagebox:hover .file-close {
  visibility: visible;
}



.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

.file-man-box {
  padding: 20px;
  border: 1px solid #e3eaef;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px
}



.file-man-box .file-img-box {
  line-height: 120px;
  text-align: center;
  overflow: hidden;
}

.file-man-box .file-img-box img {
  height: 100px
}

.file-man-box .file-download {
  font-size: 25px;
  color: #98a6ad;
  position: absolute;
  right: 10px
}

.file-man-box .file-download:hover {
  color: #313a46
}

.file-man-box .file-man-title {
  padding-right: 25px
}

.file-man-box:hover {
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}


.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
}

.imagebox, .filemanagerimagebox {
  position: relative;
  max-height: 300px;
}

.imagebox .close-icon, .filemanagerimagebox .close-icon {
  position: absolute;
  top: 5%;
  right: 10%;
}

/* .full-window-modal .modal-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
} */
/* .full-window-modal .modal-dialog .modal-content {
  height: 100vh;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.full-window-modal .modal-dialog .modal-content .modal-body {
  height: calc(100vh - 50px);
  overflow-x:
  auto;
}
.full-window-modal .modal-dialog .modal-content .modal-footer {
  padding: 15px 24px;
  padding-top: 15px !important;
} */

.dropdown-toggle::after {
    border: none;
}

.upload-modal .modal-lg {
    max-width: 80%;
}

.upload-modal .modal-body {
    overflow: hidden scroll;
}

.upload-modal .modal-content {
    height: 75vh;
}

.crop-modal .modal-lg {
    max-width: 70%;
}

.crop-modal .modal-body {
    overflow: hidden scroll;
}

.upload-modal .modal-content {
    height: 70vh;
}

.modal-zone {
    overflow:hidden scroll;
    height: 45vh;
    z-index:9000
}

.file-preview {
    font-size: 100px;text-align: center;padding-bottom: 5px;
}
